body
{
	color: white !important;
	font-size: large;
}

#body_header
{
	background-color: white;
	display: flow-root;
	top: 0;
    position: sticky;
}

#header_title
{
	float: left !important;
	padding-left: 20px;
	color: black;
	font-size: xx-large;
	font-weight: 900;
}

.a_header
{
	color: black;
	text-decoration: none;
	font-family: 'Zilla Slab Highlight', cursive !important;
}

.a_header:hover, .a_header:active
{
	font-size: 150%;
}

#header_nav_section
{
	float: right !important;
}

.header_nav_list_item
{
	position: relative;
	list-style: none;
	float: left;
	padding: 20px;
}

.header_nav_list_item_a
{
	line-height: 45px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
	text-decoration: none;
	position: relative;
    display: block;
}

a.header_nav_list_item_a:hover, a.header_nav_list_item_a:active 
{
	font-size: 100%;
}

#body_main
{
	background: black url("../images/bg1.png") no-repeat fixed center;
	background-size: 100% 100%;
	padding: 20px;
	background-blend-mode:lighten;
}

.main_hr
{
	color: white;
	/*width: 90%;*/
	padding-bottom: 10px;
	padding-top: 10px;
}

.sub_hr
{
	color: white;
	width: 90%;
	padding-bottom: 5px;
	padding-top: 5px;
}

legend
{
	color: white !important;
}

section
{
	padding: 10px;
}

#main_home_section
{
	width: 70%;
}

input, textarea
{
	color: black;
	/*width: -webkit-fill-available;*/
	resize: none;
}


#to_post_section_fields
{
	margin: 10px;
	width: 60%;
}

#to_post_section_fields textarea
{
	width: 100%;
}

#img_loc
{
	width: 20px !important;
}

#a_loc
{
	text-decoration: underline;
}

#post_btn
{
	float: right !important;
}

#all_post_section_fields
{
	margin: 10px;
	width: 60%;
}

#all_post_section_fields
{
	margin: 10px;
	width: 80%;
}

#all_post_section_fields text
{
	width: 50%;
}

#all_post_section_fields img
{
	width: 40%;
    border: white 2px solid;
    float: right;
}

#all_post_section_fields all_post_info
{
	width: 40%;
    float: left;
}

footer
{
	color: black;
	text-align: center;
	font-size: small;
}