body
{
	color: black;
	background-color: black;
}

.container
{
	color: white;
	margin-top:50px;
	background: black url("../images/bg1.png") no-repeat fixed center;
	background-size: 100% 100%;
}

.activity_post,.event_post p
{
	color: black;
}

footer 
{
    background-color: #555;
    color: white;
    padding: 15px;
}