/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) 
{
	.container
	{
		margin-top:200px;
	} 
}

body
{
	color: black;
	background-color: black;
}

.container
{
	color: white;
	margin-top:50px;
	background: black url("../images/bg1.png") no-repeat fixed center;
	background-size: 100% 100%;
}

#login_table
{
	margin: auto;
    width: fit-content;
	border: none;
}

#login_table td
{
	padding: 5px !important;
}

footer 
{
    background-color: #555;
    color: white;
    padding: 15px;
}